@import url('https://fonts.googleapis.com/css?family=Montserrat');
body {
    justify-content: baseline;
    align-items: center;
    font-family: Helvetica;
    margin: 0;
}

.tabs {
    padding-top: 50px;
    padding-bottom: 50px;
}

.x {
    block-size: 150px;
}

.tabs a {
    font-size: 15px;
    font-family: OpenSans, sans-serif;
    font-weight: 700;
    color: #fff;
    padding: 4px;
    text-align: center;
}

.tabs li {
    background-color: gray;
    margin-top: 1px;
    text-align: center;
    height: 190px;
    width: 200px;
    padding-top: 45px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin-left: 170px;
    margin-top: 100px;
}


/* admin side tabs*/

.tabs li.active {
    background-color: #1034A6;
}

.login {
    background-image: url('../images/Register.jpg');
}


/*Login form frm id*/

#frm {
    border: solid white 2px;
    width: 20%;
    border-radius: 5px;
    margin: 100px auto;
    padding: 50px;
    color: white;
}

#r1 {
    margin: 20px;
    padding: 20px;
}

.div1 {
    color: black;
    font-family: serif;
    left: 2%;
    position: relative;
    display: block;
    text-align: center;
}


/*Billing.php division  id*/

#bill,
#bill td {
    margin: 10px;
    padding: 10px;
    border: 2px solid black;
    text-align: center;
    margin-left: 250px;
    background-color: rgb(199, 160, 236);
}

.div2 {
    color: black;
    font-family: serif;
    left: 250px;
    position: absolute;
    display: block;
}

.div3 {
    color: black;
    font-family: serif;
    left: 250px;
    position: absolute;
    display: block;
}

#cnt {
    width: 184px;
}


/*Reservation form division*/

.reser {
    padding: 50px;
    margin: 10px;
    /*  margin-left: 450px; */
    margin-right: 115px;
    border-radius: 15px 50px;
    color: black;
    box-shadow: 10px 10px 5px grey;
    background-color: rgb(160, 207, 236);
}

div.div1 img {
    margin: 0;
    padding: 0;
}

.b-text_weight-bold {
    font-weight: 700!important;
    font-size: 20px;
}

h1 {
    text-align: center;
}

button {
    text-align: center;
}

.back {
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -104.5px;
}

details {
    display: block;
}


/*for availability check division*/

.avail {
    border-radius: 15px 50px;
    position: absolute;
    top: 45%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 450px;
    height: 450px;
    padding: 40px;
    background: rgba( 0, 0, 0, 0.5);
}

td {
    margin: 15px;
    padding: 3px;
}

#res {
    padding: 20px;
}

* {
    box-sizing: border-box;
}


/*Location pune conatiner tab*/

.container .tab-content {
    font-size: 17px;
    color: blue;
    line-height: 40px;
    background: #e7ecea;
    padding: 15px 70px;
    height: 700px;
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.row {
    display: flex;
}

.column {
    flex: 33.33%;
    padding: 5px;
}


/* homepage slider applicable for 5 images only*/

@keyframes slider {
    0% {
        left: 0;
    }
    20% {
        left: 0;
    }
    25% {
        left: -100%;
    }
    45% {
        left: -100%;
    }
    50% {
        left: -200%;
    }
    70% {
        left: -200%;
    }
    75% {
        left: -300%;
    }
    95% {
        left: -300%;
    }
    100% {
        left: -400%;
    }
}

#slider {
    overflow: hidden;
}

#slider figure img {
    width: 20%;
    height: 100%;
    float: left;
}

#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    text-align: left;
    font-size: 0;
    animation: 20s slider infinite;
}


/*slider section ends*/

img {
    border-radius: 9px;
}

fieldset {
    border: 3px solid white;
    padding: 3px;
    margin: 3px;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
}

#b1 {
    margin: 0;
    padding: 0;
    font-family: "montserrat";
}


/* meet our team*/

.team-section {
    background: #f1f1f1;
    text-align: center;
}

.inner-width {
    max-width: 1200px;
    margin: auto;
    padding: 40px;
    color: #333;
    overflow: hidden;
}

.team-section h1 {
    font-size: 20px;
    text-transform: uppercase;
    display: inline-block;
    border-bottom: 4px solid;
    padding-bottom: 10px;
}

.pe {
    float: left;
    width: calc(100% / 3);
    overflow: hidden;
    padding: 40px 0;
    transition: 0.4s;
}

.pe:hover {
    background: #ddd;
}

.pe img {
    width: 120px;
    height: 120px;
}

.p-name {
    margin: 16px 0;
    text-transform: uppercase;
}

.p-des {
    font-style: italic;
    color: #3498db;
}

.p-sm {
    margin-top: 12px;
}

.p-sm a {
    margin: 0 4px;
    display: inline-block;
    width: 30px;
    height: 30px;
    transition: 0.4s;
    /*speed*/
}

.p-sm a :hover {
    transform: scale(1.3);
    /*for making symbol big small while clicking*/
}

.p-sm a i {
    color: #333;
    line-height: 30px;
}


/*team section ends*/

@media screen and (max-width:600px) {
    .pe {
        width: 100%;
    }
}