@import url('https://fonts.googleapis.com/css?family=Montserrat');
body{
    font-family: 'Montserrat',sans-serif;
    background-image: url('mountains.jpg');
    
}

.div1{
    border: 1px solid white;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

div.div1 img{
    margin: 0;
    padding: 0;
    
}